/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$brand-primary:#c6c6c6;
$brand-success:#afbc21;
$brand-info:#a9a9ac;
$brand-warning:#4fb2ce;
$brand-danger:#263746;

@import "bootstrap-sprockets";
@import "bootstrap";

/* Remember that theres CSS is the scaffolds file as well.
*  @import "bootstrap/theme";
*/
body {
  background: #ecf1f5 !important;
}

h1 {
  font-family: 'Istok Web', sans-serif;
  font-size: 24px;
  color: #263746;
}
h2 {
  font-family: 'Istok Web', sans-serif;
}
h3 {
  font-family: 'Istok Web', sans-serif;
}
h4 {
  font-family: 'Istok Web', sans-serif;
}

.paragraph {
  font-size: 12px;
  color: #263746;
}

.page-header hr {
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
}

.main-body {
  background-color: #f9fafc;
}

.ener-header {
  color: #afbc21;
}

.ener-highlight {
  color: #4fb2ce;
}

.paragraph {
  border-color: #f8fcfd;
}

.rails-form {
  border-style:solid;
  border-width:2px;
}

.navbar {
  	background-color: #263746;
  	border-color: #385167;
  	margin-bottom: 0px;
  	.navbar-brand {
	  color: #dedede;
	}
	.navbar-brand:hover, .navbar-brand:focus {
	  color: #fff;
	  background-color: transparent;
	}
	.navbar-text {
	  color: #dedede;
	}
  .navbar-nav > li > a {
    color: #dedede;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #385167;
  }
  .navbar-nav > .disabled > a,
  .navbar-nav > .disabled > a:hover,
  .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
  .navbar-toggle {
    border-color: #333;
  }
  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: #333;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-collapse,
  .navbar-form {
    border-color: #101010;
  }
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #385167;
  }
  .navbar-link {
    color: #dedede;
  }
  .navbar-link:hover {
    color: #fff;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #385167;
  }
  .navbar .navbar-nav .open .dropdown-menu .divider {
    background-color: #385167;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #dedede;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #385167;
  }
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
